* { box-sizing:content-box;
    margin:0px;
    padding:0px;
    border:0px;
}

.nav1 {
    position:sticky;
    background-color: turquoise;
    color: black;
    font-size: small;
    margin: 0px;
    padding-left: 10px;
    height:20px;
}

header {
    color:cornsilk;
    text-transform: uppercase;
    background-color: rgb(27, 27, 87);
    font-size:30px;
    margin:0px;
    padding-left: 10px;
    position:sticky;
    box-shadow: 0px 0px 5px 0px black;
    z-index:20px;
}

footer {
    color:cornsilk;
    background-color: rgb(27, 27, 87);
    height: 20px;
    width: 100%;
    position:fixed;
    bottom:0px;
    text-align: center;
    font-weight:normal;
    font-size: small;
    z-index:20px;
}

main {
    display:flex;
}

article.padre1 {
    display:flexbox;
    position:relative;
    top:-100px;
}

.fbatman{
    position:absolute;
    width: 291px;
    top:150px;
    left:156px;
    z-index:10;
}

.fglobal {
    position:absolute;
    border-radius: 40px;
    width: 300px;
    top:300px;
    left:150px;
}

.batman {
    position:absolute;
    left:240px;
    top: 270px;
    border-radius: 60px;
    z-index:12;
}

div.title {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: x-large;
    position:relative;
    left:250px;
    bottom:-400px;
    z-index: 12;

}

button {
    background-color: rgb(124, 124, 167);
    height:20px;
    width:70px;
    border-radius:5px;
    position:absolute;
    left: 260px;
    top:570px;
    text-decoration: none;
    color:mintcream;
    z-index:12;
}

article div#textogrupo1 {
    font-size: 13px;
    position:absolute;
    left:200px;
    top:450px;
    border: 0px solid black;
    width: 200px;
    height:150px;
    text-align: justify;
}

.heart {
    position:absolute;
    left:200px;
    top:180px;
    z-index:12;
}



